

.driverCard{ 
    margin: .5rem;
    background-color: #343440a6;
    color: #fff;
}

.card_title{
    display: flex;
    justify-content: space-between;
    
}
.flag_name { 
    display: flex;
    align-items: center;

}
.flag { 
    width: 2.5rem;
    height: 1.5rem;
    margin-right: 6px;
}

.driver_number { 
    color: #dc3545;  /* danger */
    font-style: italic;
}

.link { 
    text-decoration: none;
    color: #fff;
}
.link:hover { 
    color: #fff;
}

.spinner { 
    display: flex;
    justify-content: center;
}