

.driverCard{ 
    margin: .5rem;
    background-color: #343440a6;
    color: #fff;
}

.cardTitle{
    display: flex;
    justify-content: space-between;
    
}

.driverNumber { 
    color: #dc3545;  /* danger */
    font-style: italic;
}

.link { 
    text-decoration: none;
    color: #fff;
}
.link:hover { 
    color: #fff;
}